<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>

        <!--<testsuite name="GitHub">-->
            <!--<directory suffix="Test.php">./tests/GitHub</directory>-->
        <!--</testsuite>-->
        <!--<testsuite name="Bitbucket">-->
            <!--<directory suffix="Test.php">./tests/Bitbucket</directory>-->
        <!--</testsuite>-->
        <testsuite name="Gitlab">
            <directory suffix="Test.php">./tests/Gitlab</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
    </php>
</phpunit>
